.container {
    border-radius: 6px;
    box-shadow: 10px 20px 40px 0 rgba(173, 181, 189, 0.1);
    border: solid 1px rgba(129, 147, 174, 0.12);
    max-width:1800px;
    min-width:800px;
    padding: 2% 1%;
    background-color:rgb(250, 249, 248);
   /* margin-bottom: 4px;*/
}

.header-section {    
    color: rgb(5, 1, 26);
    font-weight: 600;
}

.slds-button {
    --sds-c-button-border: none; 
    --sds-c-button-outline--focus:none;  
}
.slds-button:focus-visible {
    --sds-c-button-outline: none;
}
.card-box {
    /*font-family: 'Poppins', sans-serif;*/
    font-size: 10pt;
    border-radius: 5px 5px;
    border: 1px solid #c9c9c9;
    background-color: white;  
}
.text-gray {
    color: hsl(234, 12%, 34%);
}
.text-bold {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}
.open {
    border-top: 5px solid #00af66;
    
}
.execution {
    border-top: 5px solid #f89406;
    
}

.planning {
    border-top: 5px solid #f7ca18;
}

.review {
    border-top: 5px solid #00af66;
    
}

.report {
    border-top: 5px solid  #0078d4;
}

.approval {
    border-top: 5px solid #00af66;
    
}
.closed {
    border-top: 5px solid #0078d4;
    
}
@media (max-width: 800px) and (min-width: 450px) {
    .container {
        border-radius: 6px;
        box-shadow: 10px 20px 40px 0 rgba(173, 181, 189, 0.1);
        border: solid 1px rgba(129, 147, 174, 0.12);
        background-color: #fff;
        max-width:950px;
        min-width:450px;
        padding: 1%;
        font-size: 10pt;
    }
}